<header id="header">

  <span id="home_image"><img src="/images/tomato.jpg"></span>
  <span id="add_movie_link"><a href="/addmovie">Add Movie</a></span>
  
<!--   <% if logged_in? %>
    <span id="logout_link"><%= link_to 'Log Out', logout_path, method: :delete %></span>
    <span id="profile_link"><%= link_to 'Profile', current_user %></span>
  <% else %> -->
    <span id="signup_link"><a href="/signup">Sign Up</a></span>
    <span id="login_link"><a href="/login">Log In</a></span>
<!--   <% end %> -->

</header>